<!-- templates/home/hamburguesas_por_usuario.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Hamburguesas de {{ usuario }}</title>
</head>
<body>
    <h1>Hamburguesas de {{ usuario }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ingredientes</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for hamburguesa in hamburguesas %}
            <tr>
                <td>{{ hamburguesa.name }}</td>
                <td>
                  {{ hamburguesa.Ingrediente.all|join:", " }}
                </td>
                <td>{{ hamburguesa.price }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="13">No hay hamburguesas para este usuario.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
